!!!
%html
  %head
    %title Never enough bits
    = stylesheet_link_tag :application, media: 'all'
    = javascript_include_tag :application
    = csrf_meta_tag
  %body
    .container
      .banner.sixteen.columns.clearfix
        - if flash[:notice]
          %p.notice= flash[:notice]
        - if flash[:error]
          %p.error= flash[:error]
      .sidebar.two.columns
        %nav
          %ul
            %li= link_to "Home", root_path
            %li= link_to "New post...", new_post_path
      .content.ten.columns
        = yield
